name: coap
description: A CoAP library for Dart. A full implementation of an IPV4/6 CoAP client
version: 3.6.0
homepage: https://github.com/shamblett/coap

environment:
  sdk: '>=2.12.0 <3.0.0'

dependencies:
 build: '^2.2.1'
 collection: '^1.15.0'
 event_bus: '^2.0.0'
 executor: '^2.2.2'
 hex: '^0.2.0'
 meta: '^1.7.0'
 path: '^1.8.1'
 string_scanner: '^1.1.0'
 synchronized: '^3.0.0+2'
 typed_data: '^1.3.0'
 yaml: '^3.1.0'
 dart_tinydtls: ^1.0.0
 dtls: ^0.1.0

dev_dependencies:
  build_runner: '^2.1.8'
  lints: ^1.0.1
  test: '^1.20.2'
