name: coap
description: A CoAP library for Dart. A full implementation of an IPV4/6 CoAP client
version: 9.0.3
homepage: https://github.com/shamblett/coap
repository: https://github.com/shamblett/coap

funding:
  - https://www.darticulate.com/#funding

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  build: ^2.4.1
  collection: ^1.18.0
  convert: ^3.1.1
  dtls2: ^0.16.0
  event_bus: ^2.0.0
  meta: ^1.12.0
  path: ^1.9.0
  string_scanner: ^1.2.0
  synchronized: ^3.1.0
  typed_data: ^1.3.2
  yaml: ^3.1.2

dev_dependencies:
  build_runner: ^2.4.8
  lints: ^3.0.0
  test: ^1.25.2

topics:
  - iot
  - network
  - coap
  - data

screenshots:
  - description: 'CoAP for IoT systems'
    path: example/screenshots/coap.png