name: coap
description: A CoAP library for Dart. A full implementation of am IPV4/6 CoAP client
version: 3.4.1
homepage: https://github.com/shamblett/coap

environment:
  sdk: '>=2.12.0 <3.0.0'

dependencies:
 typed_data: '^1.3.0'
 collection: '^1.15.0'
 hex: '^0.2.0'
 executor: '^2.2.2'
 logging: '^1.0.0'
 event_bus: '^2.0.0'
 string_scanner: '^1.1.0'
 date_format: '^2.0.2'
 build: '^2.0.0'
 yaml: '^3.1.0'
 path: '^1.8.0'

dev_dependencies:
  test: '^1.16.8'
  build_runner: '^1.12.2'
  pedantic: '^1.11.0'


