name: coap
description: A CoAP library for Dart. A full implementation of an IPV4/6 CoAP client
version: 8.0.0
homepage: https://github.com/shamblett/coap
repository: https://github.com/shamblett/coap

funding:
  - https://www.darticulate.com/#funding

environment:
  sdk: '>=2.17.0 <3.0.0'

dependencies:
  build: ^2.3.0
  collection: ^1.16.0
  convert: ^3.0.2
  dtls2: ^0.12.0
  event_bus: ^2.0.0
  meta: ^1.9.0
  path: ^1.8.2
  string_scanner: ^1.1.1
  synchronized: ^3.0.0+2
  typed_data: ^1.3.1
  yaml: ^3.1.1

dev_dependencies:
  build_runner: ^2.3.3
  lints: ^2.0.0
  test: ^1.23.1
